<div class="card" style="padding:50px; margin-top: 10px; font-size: 16pt; background-color: #d6d8d9">

  <div class="btn-group" role="group">
    <%= link_to 'Înapoi', galleries_path, class: 'btn btn-dark my-2 my-sm-0', role: 'button' %>
  </div>

  <hr>

  <h2>Album nou</h2>

  <%= render 'form', gallery: @gallery %>

</div>